EarthQuakeflows.json
[
    {
        "id": "a67a69fd8896e586",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f56ab353caafbe1",
        "type": "inject",
        "z": "a67a69fd8896e586",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "b194fcc067887786"
            ]
        ]
    },
    {
        "id": "5227c14df3282834",
        "type": "debug",
        "z": "a67a69fd8896e586",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 120,
        "wires": []
    },
    {
        "id": "b194fcc067887786",
        "type": "http request",
        "z": "a67a69fd8896e586",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "credentials": {},
        "x": 330,
        "y": 160,
        "wires": [
            [
                "e623549bcdcd533b"
            ]
        ]
    },
    {
        "id": "e623549bcdcd533b",
        "type": "csv",
        "z": "a67a69fd8896e586",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 510,
        "y": 160,
        "wires": [
            [
                "5227c14df3282834",
                "96d70979c23aed50"
            ]
        ]
    },
    {
        "id": "30613237856fba37",
        "type": "change",
        "z": "a67a69fd8896e586",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PANIC!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 240,
        "wires": [
            [
                "af7cd875d12f64dc"
            ]
        ]
    },
    {
        "id": "af7cd875d12f64dc",
        "type": "debug",
        "z": "a67a69fd8896e586",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "96d70979c23aed50",
        "type": "switch",
        "z": "a67a69fd8896e586",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 870,
        "y": 180,
        "wires": [
            [
                "30613237856fba37"
            ]
        ]
    }
]